* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  width: 100%;
}

article {
  width: fit-content;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #223533;
  
}

.nombre {
  color: rgb(59, 185, 0);
  font-size: 25px;
}

.documento {
  color: #c42eab;
  font-size: 16px;
}

img {
  width: 300px;
  border-radius: 20px;
  margin: 5px;
}

/* Esto es lo nuevo */
#btnComprar {
  margin-top: 5px;
  border-radius: 20px;
  border-color: transparent;
  background-color: green;
  padding: 20px;
  text-align: center;
  color: #edf2f4;
  font-size: 20px;
  cursor: pointer;
}